#mainView {
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 46.5px;
}

#vis {
	padding-top: 50px;
	display: inline;
	float: left;
	border: 2px solid #000;
	text-align: center;
	height: 100%;
	width: 85%;
}

#sidebar {
	padding-top: 50px;
	display: inline;
	float: left;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	text-align: center;
	height: 100%;
	width: 15%;
}

/* Vis */
.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}