.wrapper {
	min-height: 100%;
}

#vis {
	padding-top: 50px;
	float: left;
	border: 2px solid #000;
	text-align: center;
	height: 100%;
	width: 84%;
}

#sidebar {
	padding-top: 50px;
	float: left;
	border-bottom: 2px solid #000;
	text-align: center;
	height: 100%;
	width: 14%;
}

/* Vis */
.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}